@use "../../index.scss" as application;

.sqwerl-navigation-bar {
  align-self: flex-start;
  background: var(--content-heading-background);
  border-bottom: 1px solid var(--content-heading-border-bottom-color);
  box-shadow: 0 application.$sqwerl-content-heading-shadow-offset var(--content-heading-shadow-color);
  display: flex;
  flex: 0 0 auto;
  height: application.$sqwerl-row-height;
  max-height: application.$sqwerl-row-height;
  min-height: application.$sqwerl-row-height;
  width: 100%;
  z-index: var(--navigation-bar-z-index);

  & .sqwerl-read-only-field-label-count {
    font-size: 85%;
    text-align: center;
    padding-left: 0.5rem;
    vertical-align: baseline;
  }
}
