**/.DS_Store
.coverdata
.coverrun
.gradle
.idea
.nyc_output
build
coverage/**
debug
gd_bundle.crt
node
node_modules
npm-debug.log
salt.txt
target
sign-up-configuration.json
src/main/javascript/build/
sqwerl.key
sqwerl.org.crt
sqwerl-nodejs-server.iml
aws-production-configuration.json
src/main/resources/public_development_configuration.json
