@use "../../index.scss" as application;

$sqwerl-vertical-scrollbar-collapsed-width: 4px;
$sqwerl-vertical-scrollbar-expanded-width: 8px;

@keyframes sqwerl-loading-indicator {
  0%,
  60%,
  100% {
    opacity: 0.4;
  }

  30% {
    opacity: 1;
  }
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.sqwerl-application.light {
  .sqwerl-navigation-item-icon {
    filter: brightness(90%);
  }
}

.sqwerl-list-view {
  background: var(--list-background-color);
  display: flex;
  height: 100%;
  left: 0;
  position: relative;
  flex-direction: column;
  width: 100%;

  & > div {
    height: 100%;
  }

  & > div > div {
    min-height: calc(100% - #{application.$sqwerl-content-heading-shadow-offset});
    top: application.$sqwerl-content-heading-shadow-offset;
  }

  .sqwerl-list-scroll-background {
    cursor: pointer;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  .sqwerl-list-vertical-scroller {
    align-self: flex-end;
    border-left: 1px solid #c0c0c0;
    display: flex;
    height: 100%;
    min-width: $sqwerl-vertical-scrollbar-collapsed-width;
    width: $sqwerl-vertical-scrollbar-collapsed-width;

    &.drag {
      width: $sqwerl-vertical-scrollbar-expanded-width;
    }

    &:hover,
    &:hover.drag {
      width: $sqwerl-vertical-scrollbar-expanded-width;
    }
  }

  .sqwerl-list-vertical-scroller-thumb {
    position: relative;
    width: application.$sqwerl-vertical-scrollbar-collapsed-width;

    &.drag {
      border: 1px solid black;
      position: relative;
    }

    &:hover,
    &:hover.drag {
      width: $sqwerl-vertical-scrollbar-expanded-width;
    }
  }

  .sqwerl-list-vertical-scroller-thumb-overlay {
    bottom: 0;
    height: 100vh;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100vw;
  }

  .sqwerl-list-viewport {
    bottom: 0;
    cursor: pointer;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    left: 0;
    position: relative;
    right: 0;
  }

  .sqwerl-navigation-item {
    align-items: start;
    background: var(--list-item-background);
    border-bottom: 1px solid var(--list-item-bottom-border-color);
    display: flex;
    height: calc(#{application.$sqwerl-navigation-items-height} + #{application.$sqwerl-focus-border-size} * 2);
    left: 0;
    letter-spacing: application.$sqwerl-letter-spacing;
    line-height: 1.5rem;

    & a {
      display: flex;
      flex-direction: row;
      height: 100%;
      margin-left: calc(#{application.$sqwerl-focus-border-size} / 2);
      text-decoration: none;
      width: calc(100% - #{application.$sqwerl-focus-border-size});

      &:focus {
        z-index: var(--focused-navigation-item-z-index);
      }

      & .sqwerl-navigation-item-content {
        display: flex;
        flex-direction: column;
        font-family: application.$sqwerl-font-family;
        height: 100%;
        padding-left: 0.5rem;
        width: 100%;

        & .sqwerl-navigation-item-details {
          padding-left: 0.5rem;
          padding-top: 1rem;

          & .sqwerl-navigation-item-title-text {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }

          & .sqwerl-parent-item-details {
            display: flex;
            flex-direction: row;
            margin-top: 0.5rem;

            & .sqwerl-parent-item-description {
              height: 100%;
              padding-right: 0.5rem;
              width: 100%;
            }
          }
        }
      }

      & .sqwerl-navigation-item-ordinal {
        height: calc(100% - calc(#{application.$sqwerl-list-row-height-pixels} * 0.25));
        line-height: normal;
        margin-top: calc(#{application.$sqwerl-list-row-height-pixels} * 0.25);
      }

      & .sqwerl-navigation-item-title {
        line-height: normal;
        width: 100%;

        & .sqwerl-navigation-item-type-name {
          padding-top: 0.5rem;
        }
      }
    }

    &.even {
      background: var(--navigation-list-even-row-background);
    }

    &.selected {
      & a {
        animation: none;
        background: var(--selection-background-color);
        border-bottom: 1px solid black;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        text-decoration: none;
        transition: background-color 0.3s ease-in;

        label.sqwerl-navigation-item-title .sqwerl-navigation-item-type-name {
          color: var(--secondary-selected-text-color);
        }

        &:hover {
          animation: none;
          background: var(--selection-background-color);

          label.sqwerl-navigation-item-title .sqwerl-navigation-item-title-text {
            text-decoration: none;
          }

          &.sqwerl-navigation-leaf-item {
            cursor: pointer;

            .sqwerl-navigation-item-title {
              cursor: default;
            }

            label.sqwerl-navigation-item-title {
              cursor: default;
              text-decoration: none;

              .sqwerl-navigation-item-title-text {
                text-decoration: none;
              }
            }
          }

          &.sqwerl-navigation-parent-item {
            cursor: pointer;

            &:hover {
              .sqwerl-navigation-item-title-text {
                text-decoration: underline;
                text-decoration-color: var(--selected-text-color);
              }
            }

            .sqwerl-navigation-item-icon {
              align-self: center;

              &.loading {
                animation: sqwerl-loading-indicator 800ms infinite ease-in-out;
                height: 100%;
                width: 100%;
              }
            }

            .sqwerl-navigation-item-title {
              color: var(--secondary-selected-text-color);
              cursor: pointer;
              text-decoration-color: rgba(255, 255, 255, 0);
            }
          }
        }
      }

      .sqwerl-navigation-item-ordinal {
        color: var(--selected-text-color);
      }

      .sqwerl-navigation-item-child-count-number {
        color: var(--selected-text-color);
      }

      .sqwerl-navigation-item-title-text {
        color: application.$sqwerl-selected-text-color;
      }

      &:hover {
        .sqwerl-navigation-item-title-text {
          text-decoration-color: var(--list-item-hover-text-shadow);
          text-shadow: var(--list-item-hover-text-shadow);
        }
      }

      a.sqwerl-navigation-parent-item {
        &:hover {
          animation: none;
        }

        .sqwerl-navigation-item-has-children {
          color: var(--selected-text-color);
        }
      }
    }

    &.selecting {
      & a {
        animation: none;
        background: var(--selection-background-color);
        border-bottom: 1px solid black;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        color: var(--selected-text-color);
        text-decoration: none;
        transition: background-color 0.1s ease-in-out, border-bottom-color 0.1s ease-in-out, border-top-color 0.1s ease-in-out;

        & .sqwerl-navigation-item-ordinal {
          color: var(--secondary-selected-text-color);
          transition: color 0.1s ease-in;
        }

        label.sqwerl-navigation-item-title {
          color: var(--selected-text-color);
          transition: color 0.2s ease-in;

          & .sqwerl-navigation-item-text {
            & .sqwerl-navigation-item-title-text {
              color: var(--selected-text-color);
              transition: color 0.2s ease-in;
            }
          }

          & .sqwerl-navigation-item-type-name {
            color: var(--secondary-selected-text-color);
            text-decoration: none;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in;
          }
        }

        &:hover {
          animation: none;

          &.sqwerl-navigation-leaf-item {
            cursor: default;

            .sqwerl-navigation-item-title {
              cursor: default;
            }

            label.sqwerl-navigation-item-title {
              cursor: default;
              text-decoration: none;

              .sqwerl-navigation-item-title-text {
                text-decoration: none;
              }
            }
          }

          &.sqwerl-navigation-parent-item {
            cursor: default;
          }
        }
      }
    }

    &:hover {
      .sqwerl-navigation-leaf-item, .sqwerl-navigation-parent-item {
        label.sqwerl-navigation-item-title {
          text-decoration-color: var(--list-item-hover-text-shadow);
          text-shadow: var(--list-item-hover-text-shadow);
        }
      }
    }

    & a.sqwerl-navigation-leaf-item, a.sqwerl-navigation-parent-item {
      width: calc(100% - (#{application.$sqwerl-focus-border-size} * 2));

      &.double-height {
        & .sqwerl-navigation-item-title {
          padding-bottom: 0.5rem;
        }
      }

      label.sqwerl-navigation-item-title {
        cursor: pointer;
        text-decoration-color: rgba(255, 255, 255, 0);
        text-decoration-thickness: var(--text-decoration-thickness);
        text-underline-offset: var(--text-underline-offset);
        transition: text-decoration-color 0.3s ease-in;
      }

      & .sqwerl-navigation-item-icon {
        align-self: start;
        display: flex;
        margin-right: 0.2rem;

        &.loading {
          /* TODO - replace animation with a CSS spinner */
          animation: loading-placeholder 4s infinite linear;
          background: linear-gradient(to right, var(--loading-content-gradient-color1) 10%, var(--loading-content-gradient-color2) 18%, var(--loading-content-gradient-color3) 33%);
          height: var(--navigation-item-icon-max-height);
          width: var(--navigation-item-icon-max-width);
        }

        & img, span {
          max-height: var(--navigation-item-icon-max-height);
          max-width: var(--navigation-item-icon-max-width);
          height: 100%;
          width: 100%;

          &.sqwerl-svg-thumbnail svg {
            height: var(--navigation-item-icon-max-height);
            stroke-width: 0.5;
            width: var(--navigation-item-icon-max-width);
          }
        }
      }

      .sqwerl-navigation-item-type-name {
        color: var(--secondary-text-color);
      }

      &:visited {
        label.sqwerl-navigation-item-title {
          color: var(--hyperlink-text-visited-color);
        }
      }
    }

    & a.sqwerl-navigation-parent-item {
      cursor: pointer;
      display: flex;
      flex-direction: row;
      left: 0;
      margin-right: application.$sqwerl-focus-border-size;
      tabindex: -1;

      &.double-height {
        & .sqwerl-navigation-item-has-children {
          height: 3.5rem;
        }

        & .sqwerl-parent-item-heading {
          height: 3.2rem;
          padding-bottom: 0.5rem;
        }
      }

      & .sqwerl-navigation-item-content {
        & .sqwerl-parent-item-details {
          display: flex;
          flex-direction: row;
          line-height: 1.5rem;

          & .sqwerl-parent-item-description {
            color: var(--color);
            height: 100%;
            padding-right: 0.5rem;
            width: 100%;
          }
        }

        & .sqwerl-parent-item-heading {
          display: flex;
          flex-direction: row;
          padding-top: 1rem;
          width: 100%;
        }
      }

      & .sqwerl-parent-item-heading {
        height: 2rem;
      }

      label.sqwerl-navigation-item-title {
        cursor: pointer;
        text-decoration-color: rgba(255, 255, 255, 0);
        text-decoration-thickness: var(--text-decoration-thickness);
        text-underline-offset: var(--text-underline-offset);
        transition: text-decoration-color 0.3s ease-in;
        width: 100%;

        & .sqwerl-parent-item-details {
          display: flex;
          flex-direction: row;
        }
      }

      .sqwerl-navigation-item-type-name {
        color: var(--secondary-text-color);
      }

      &:hover {
        animation-name: sqwerl-list-item-hover;
        animation-duration: 0.5s;
        background: var(--list-item-hover-background);

        & .sqwerl-navigation-item-title-text {
          text-decoration: underline;
          text-decoration-color: var(--list-item-hover-text-shadow);
          text-shadow: var(--list-item-hover-text-shadow);
          text-underline-offset: var(--text-underline-offset);
        }
      }

      .sqwerl-navigation-item-has-children {
        display: flex;
        margin-right: 0.2rem;

        &.hidden {
          visibility: hidden;
        }

        &.visible {
          visibility: visible;
        }
      }
    }

    .sqwerl-navigation-parent-item-point {
      /* TODO  align-items: center; */
      display: flex;
      flex-direction: row;
    }

    .sqwerl-navigation-item-title {
      align-items: start;
      display: flex;
      flex-direction: column;

      .sqwerl-navigation-item-title-text {
        font-family: application.$sqwerl-hyperlink-font-family;
        text-decoration-color: rgba(255, 255, 255, 0);
        text-decoration-thickness: var(--text-decoration-thickness);
        text-underline-offset: var(--text-underline-offset);
        transition: text-decoration-color 0.3s ease-in;
      }
    }

    &:focus {
      border-bottom: 1px solid transparent;
    }

    &:hover {
      &.sqwerl-is-loading {
        animation: none;
        background: none;
        cursor: default;
      }
    }
  }

  .sqwerl-navigation-item-child-count {
    text-align: center;
    vertical-align: middle;
  }

  .sqwerl-navigation-item-child-count-number {
    font-size: 75%;
    text-align: center;
    vertical-align: middle;
  }

  a.sqwerl-navigation-leaf-item {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    left: 2px;

    &:hover {
      animation-duration: 0.5s;
      animation-name: sqwerl-list-item-hover;
      background: var(--list-item-hover-background);

      .sqwerl-navigation-item-title-text {
        text-decoration: underline;
        text-decoration-color: var(--list-item-hover-text-shadow);
        text-shadow: var(--list-item-hover-text--text-underline-offset-shadow);
      }
    }

    .sqwerl-navigation-item-title {
      padding-bottom: 0.5rem;
    }
  }

  .sqwerl-navigation-loading-indicator {
    animation: sqwerl-loading-indicator 800ms infinite ease-in-out;
    font-weight: bold;
  }

  .sqwerl-navigation-loading-indicator.second {
    animation-delay: 200ms;
  }

  .sqwerl-navigation-loading-indicator.third {
    animation-delay: 400ms;
  }

  .sqwerl-navigation-loading-item {
    align-items: start;
    border-bottom: 1px solid var(--list-item-bottom-border-color);
    cursor: default;
    display: flex;
    height: calc(#{application.$sqwerl-navigation-items-height} + #{application.$sqwerl-focus-border-size} * 2);
    left: 0;
    line-height: 1.5rem;
    margin-left: calc(#{application.$sqwerl-focus-border-size} / 2);

    & .sqwerl-navigation-item-ordinal {
      padding-left: 1rem;
    }

    & .sqwerl-navigation-loading-item-title {
      animation-duration: 1.25s;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      animation-name: loading-placeholder;
      animation-timing-function: linear;
      background: linear-gradient(to right, var(--loading-content-gradient-color1) 10%, var(--loading-content-gradient-color2) 18%, var(--loading-content-gradient-color3) 33%);
      cursor: default;
      flex: 1 1 auto;
      height: calc(100% - calc(#{application.$sqwerl-list-row-height-pixels} * 0.5));
      margin-bottom: calc(#{application.$sqwerl-list-row-height-pixels} * 0.25);
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      margin-top: calc(#{application.$sqwerl-list-row-height-pixels} * 0.25);
      width: 100%;
    }
  }

  .sqwerl-navigation-item-ordinal {
    color: var(--list-item-ordinal-text-color);
    font-variant: small-caps;
    letter-spacing: 0;
    margin-top: calc(#{application.$sqwerl-list-row-height-pixels} * 0.25);
    padding-left: 1rem;

    &::after {
      content: '.';
    }
  }

  .sqwerl-navigation-loading-item {
    & .sqwerl-navigation-loading-item-title,
    & .sqwerl-navigation-loading-indicator {
      color: var(--navigation-loading-item-color);
    }
  }
}
